<!DOCTYPE html>
<html>
<head>
  <title>Weather App</title>
  <%= stylesheet_link_tag "style" %>

  <%= javascript_include_tag "script" %>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>

<div>
<div class="wrapper">
  <li class="nav"><%= " active" if I18n.locale == :ru %> <%= link_to "Rus",{locale: :ru }%> </li>
  <li class="nav"><%= " active" if I18n.locale == :en %> <%= link_to "En",{locale: :en }%> </li>


  <div class="header">
    <div class="text-container">
      <h1 class="title"><%= t("main.title") %>  </h1>
      <a class="arrow" href="#section2"><span></span>&#9660;</a>
    </div>
  </div>

<div class="content">
  <h5><%= t("main.time") %> <%= Time.now().strftime("%d/%m/%Y %H:%M")%></h5>


  <button id="forecastbtn" class="forecastbtn"><a class="forecastbtn" href="/forecast/index.html"><%= t("main.btn") %> </a></button>
  </div>


  <h1><%= t("main.header") %> </h1>
  <h3><%= t("main.entercity") %> </h3>
  <span id="error"></span>
  <div>
  <input size="25" type="text" name="city" id="city" class="city" required><br><br>

  <div> <%= t("main.slidetoday")%> <input type="range" id="slider" min="1" max="2" value="1"> <%= t("main.slidetom")%></div><br>
    <button id="submitWeather" class="submitWeather"><%= t("main.searchbtn")%> </button><br>
  </div><br>
  <div id="output" hidden> </div>
  <br>
  <div id="show"></div>

  <br>
  <h1><%= t("main.top")%>  </h1>
  <table class="CitiesTable">
    <tr>
    <th><%= t("main.tblcityname")%></th>
    <th><%= t("main.tblpressure")%></th>
    <th><%= t("main.tbltemp")%></th>
    <th><%= t("main.tblhum")%></th>
    <th><%= t("main.tblcloud")%></th>
    <th><%= t("main.tblwindspd")%></th>
    <th><%= t("main.tblwinddir")%></th>
    <th><%= t("main.tblwdescr")%></th>
  </tr>

  <% @lookup.each do |l| %>
      <tr>
        <td><%= l["name"] %></td>
        <td><%= l["main"]["pressure"] * 0.75 %></td> <!--transfer from hPA to mmHg-->
        <td><%= l["main"]["temp"] %></td>
        <td><%= l["main"]["humidity"] %></td>
        <td><%= l["clouds"]["all"] %></td>
        <td><%= l["wind"]["speed"] %></td>
        <td><%= l["wind"]["deg"] %></td>
        <td><%= l["weather"][0]["main"] %></td>
      </tr>
  <% end %>
  </table>

  <h2><%= t("main.nice")%>   </h2>
  <table>
  <tr class="BestWeatherTable">
    <tr>
      <th><%= t("main.nicehot")%></th>

      <th><%= t("main.nicehum")%> </th>
      <th><%= t("main.nicecloud")%></th>

    </tr>

  <tr>
  <% @best.each do |b| %>

        <td><%= b[0] %>,
        <%= b[1] %></td>


  <% end %>
  </tr>

  </table>
  <br><br><br><br>

<%= javascript_include_tag "wip" 'data-turbolinks-track' => true %>


</div>

<div class="footer">
  <div class="footertxt">Weather app</div>
</div>

</div>
</body>
</html>
